{
    "root": true,
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "extends": [
        "plugin:vue/vue3-recommended",
        "eslint:recommended",
        // Add under other rules
        "@vue/prettier"
    ],
    "parserOptions": {
        "ecmaVersion": 2021
    }
}
